<div layout:decorator="base">
    <div layout:fragment="menu">
    </div>

    <div layout:fragment="content">
        <div class="container-fluid  dashboard-content">
            <div class="card">
                <h5 class="card-header">交易表单上链</h5>
                <div class="card-body">
                    <h5  th:text="'systemId:' + ${systemId}"></h5>
                    <h5  th:text="'requestSn: ' + ${requestSn}"></h5>
                    <form id="invoice-insert-form" data-parsley-validate="" novalidate=""
                          th:action="@{/S_ST_01}" th:object="${invoice}" method="post">

<!--                        <div class="form-group row">-->
<!--                            <label class="col-12 col-sm-3 col-form-label text-sm-right">systemId</label>-->
<!--                            <div class="col-12 col-sm-8 col-lg-6">-->
<!--                                <input type="text" th:field="*{systemId}" id="systemId" name="systemId" required="" data-parsley-length="[6,20]" placeholder="" class="form-control">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="form-group row">-->
<!--                            <label class="col-12 col-sm-3 col-form-label text-sm-right">requestSn</label>-->
<!--                            <div class="col-12 col-sm-8 col-lg-6">-->
<!--                                <input type="text" th:field="*{requestSn}" id="requestSn" name="requestSn" required="" data-parsley-length="[12,20]" placeholder="" class="form-control">-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="form-group row">
                            <label class="col-12 col-sm-3 col-form-label text-sm-right">invoiceNo</label>
                            <div class="col-12 col-sm-8 col-lg-6">
                                <input type="text" th:field="*{invoiceNo}" id="invoiceNo" name="invoiceNo" required="" data-parsley-length="[8,20]" placeholder="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-sm-3 col-form-label text-sm-right">consumerName</label>
                            <div class="col-12 col-sm-8 col-lg-6">
                                <input type="text" th:field="*{consumerName}" id="consumerName" name="consumerName" required="" data-parsley-length="[1,40]" placeholder="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-sm-3 col-form-label text-sm-right">consumerTaxesNo</label>
                            <div class="col-12 col-sm-8 col-lg-6">
                                <input type="text" th:field="*{consumerTaxesNo}" id="consumerTaxesNo" name="consumerTaxesNo" required="" data-parsley-length="[15,20]" placeholder="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-sm-3 col-form-label text-sm-right">sellerName</label>
                            <div class="col-12 col-sm-8 col-lg-6">
                                <input type="text" th:field="*{sellerName}" id="sellerName" name="sellerName" required="" data-parsley-length="[1,40]" placeholder="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-sm-3 col-form-label text-sm-right">sellerTaxesNo</label>
                            <div class="col-12 col-sm-8 col-lg-6">
                                <input type="text" th:field="*{sellerTaxesNo}" id="sellerTaxesNo" name="sellerTaxesNo" required="" data-parsley-length="[15,20]" placeholder="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-sm-3 col-form-label text-sm-right">invoiceDate</label>
                            <div class="col-12 col-sm-8 col-lg-6">
                                <input type="text" th:field="*{invoiceDate}" id="invoiceDate" name="invoiceDate" required="" placeholder="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-sm-3 col-form-label text-sm-right">invoiceType</label>
                            <div class="col-12 col-sm-8 col-lg-6">
                                <input type="text" th:field="*{invoiceType}" id="invoiceType" name="invoiceType" required="" data-parsley-length="[1,20]" placeholder="" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-sm-3 col-form-label text-sm-right">taxesPoint</label>
                            <div class="col-12 col-sm-8 col-lg-6">
                                <input type="text"  th:field="*{taxesPoint}" id="taxesPoint" name="taxesPoint" required="" data-parsley-length="[1,40]" placeholder="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-sm-3 col-form-label text-sm-right">taxes</label>
                            <div class="col-12 col-sm-8 col-lg-6">
                                <input data-parsley-type="number" type="text" th:field="*{taxes}" id="taxes" name="taxes" required="" placeholder="数值" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-sm-3 col-form-label text-sm-right">price</label>
                            <div class="col-12 col-sm-8 col-lg-6">
                                <input data-parsley-type="number" type="text" th:field="*{price}" id="price" name="price" required="" placeholder="数值" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-sm-3 col-form-label text-sm-right">pricePlusTaxes</label>
                            <div class="col-12 col-sm-8 col-lg-6">
                                <input data-parsley-type="number" type="text" th:field="*{pricePlusTaxes}" id="pricePlusTaxes" name="pricePlusTaxes" required="" placeholder="数值" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-sm-3 col-form-label text-sm-right">invoiceNumber</label>
                            <div class="col-12 col-sm-8 col-lg-6">
                                <input required="" type="number" th:field="*{invoiceNumber}" id="invoiceNumber" name="invoiceNumber" min="1" max="100" placeholder="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-sm-3 col-form-label text-sm-right">statementSheet</label>
                            <div class="col-12 col-sm-8 col-lg-6">
                                <input  data-parsley-type="number" type="text" th:field="*{statementSheet}" id="statementSheet" name="statementSheet" required="" placeholder="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-sm-3 col-form-label text-sm-right">statementWeight</label>
                            <div class="col-12 col-sm-8 col-lg-6">
                                <input type="text" th:field="*{statementWeight}" id="statementWeight" name="statementWeight" required="" data-parsley-length="[1,40]" placeholder="" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row text-right">
                            <div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">
                                <button type="button" class="btn btn-space btn-dark" id="randomInvoice">随机生成</button>
                                <button type="submit" class="btn btn-space btn-primary" id="btn-invoiceInsertSubmit">提交</button>
                                <button type="reset" class="btn btn-space btn-secondary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    // 随机生成发票数据
    $("#randomInvoice").click(function (){
        $.ajax({
            type: "GET",
            url: "/randomInvoice",
            dataType: "json",
            success: function (jsonObj) {
                //var jsonObj = eval("(" + data + ")");
                // $("#systemId").val(jsonObj.systemId);
                // $("#requestSn").val(jsonObj.requestSn);
                $("#invoiceNo").val(jsonObj.invoiceNo);
                $("#consumerName").val(jsonObj.consumerName);
                $("#consumerTaxesNo").val(jsonObj.consumerTaxesNo);
                $("#sellerName").val(jsonObj.sellerName);
                $("#sellerTaxesNo").val(jsonObj.sellerTaxesNo);
                $("#invoiceDate").val(jsonObj.invoiceDate);
                $("#invoiceType").val(jsonObj.invoiceType);
                $("#taxesPoint").val(jsonObj.taxesPoint);
                $("#taxes").val(jsonObj.taxes);
                $("#price").val(jsonObj.price);
                $("#pricePlusTaxes").val(jsonObj.pricePlusTaxes);
                $("#invoiceNumber").val(jsonObj.invoiceNumber);
                $("#statementSheet").val(jsonObj.statementSheet);
                $("#statementWeight").val(jsonObj.statementWeight);
            }
        })
    })

</script>