<div layout:decorator="base">

    <div layout:fragment="menu">
    </div>

    <div layout:fragment="content">
        <div class="container-fluid  dashboard-content">
                    <div class="card">
                        <h5 class="card-header">合约内容</h5>
                        <div class="card-body">
                            <form id="contract-deploy-form" data-parsley-validate="" novalidate=""
                                  th:action="@{/deployContract}" th:object="${contract}" method="post">
                                <div class="form-group row">
                                    <label class="col-12 col-sm-3 col-form-label text-sm-right">合约表名</label>
                                    <div class="col-12 col-sm-8 col-lg-6">
                                        <input type="text" th:field="*{tableName}" required="" data-parsley-length="[1,40]" placeholder="" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-sm-3 col-form-label text-sm-right">合约字节码</label>
                                    <div class="col-12 col-sm-8 col-lg-6">
                                        <textarea th:field="*{bytecode}" required="" class="form-control" rows="20" data-parsley-minlength="1"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row text-right">
                                    <div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">
                                        <button type="submit" class="btn btn-space btn-primary">提交</button>
                                        <button type="reset" class="btn btn-space btn-secondary">重置</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

        </div>
    </div>
</div>