<div layout:decorator="base">

    <div layout:fragment="content">
        <div class="container-fluid  dashboard-content">
            <div class="card">
                <h5 class="card-header">区块链信息</h5>
                <div class="row">
            <!-- ============================================================== -->
            <!-- four widgets   -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- total views   -->
            <!-- ============================================================== -->
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">

                    <div class="card-body">
                        <div class="d-inline-block">
                            <h5 class="text-muted">块高</h5>
                            <h2 class="mb-0" id="blockNumber" th:text="${blockNumber}"></h2>
                        </div>
                        <div class="float-right icon-circle-medium  icon-box-lg  bg-info-light mt-1">
                            <i class="fa fa-eye fa-fw fa-sm text-info"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end total views   -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- total followers   -->
            <!-- ============================================================== -->
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-inline-block">
                            <h5 class="text-muted">链上节点数</h5>
                            <h2 class="mb-0" id="peerCount" th:text="${peerCount}"></h2>
                        </div>
                        <div class="float-right icon-circle-medium  icon-box-lg  bg-primary-light mt-1">
                            <i class="fa fa-user fa-fw fa-sm text-primary"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end total followers   -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- partnerships   -->
            <!-- ============================================================== -->
            <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-inline-block">
                            <h5 class="text-muted">总交易数</h5>
                            <h2 class="mb-0" id="txAllNumber" th:text="${txAllNumber}"></h2>
                        </div>
                        <div class="float-right icon-circle-medium  icon-box-lg  bg-secondary-light mt-1">
                            <i class="fa fa-handshake fa-fw fa-sm text-secondary"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end partnerships   -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- total earned   -->
            <!-- ============================================================== -->
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-inline-block">
                            <h5 class="text-muted">区块链创建时间戳</h5>
                            <h2 class="mb-0" id="genesisTS" th:text="${genesisTS}"></h2>
                        </div>
                        <div class="float-right icon-circle-medium  icon-box-lg  bg-brand-light mt-1">
                            <i class="fa fa-money-bill-alt fa-fw fa-sm text-brand"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end total earned   -->
            <!-- ============================================================== -->
        </div>
            </div>

                <div class="card">
                    <h5 class="card-header">最新块信息</h5>
                    <div class="row">
            <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">

                    <div class="card-body">
                        <h5 class="text-muted">块ID</h5>
                        <div class="metric-value d-inline-block">
                            <h1 class="mb-1" id="blockId" th:text="${blockId}"></h1>
                        </div>
                        <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                        </div>
                    </div>
                    <div id="sparkline-revenue"></div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-muted">jsonrpc版本</h5>
                        <div class="metric-value d-inline-block">
                            <h1 class="mb-1" id="blockVersion" th:text="${blockVersion}"></h1>
                        </div>
                        <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                        </div>
                    </div>
                    <div id="sparkline-revenue2"></div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-muted">时间戳</h5>
                        <div class="metric-value d-inline-block">
                            <h1 class="mb-1" id="headerTimestamp" th:text="${headerTimestamp}"></h1>
                        </div>
                        <div class="metric-label d-inline-block float-right text-primary font-weight-bold">
                        </div>
                    </div>
                    <div id="sparkline-revenue3"></div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-muted">块交易数</h5>
                        <div class="metric-value d-inline-block">
                            <h1 class="mb-1" id="blockTxNumber" th:text="${blockTxNumber}"></h1>
                        </div>
                        <div class="metric-label d-inline-block float-right text-secondary font-weight-bold">
                        </div>
                    </div>
                    <div id="sparkline-revenue4"></div>
                </div>
            </div>
        </div>
                </div>
        </div>
    </div>
</div>

<script>
    // 实施更新链信息
    setInterval(function(){$.ajax(bcinfoUpdate)},3000);
    var bcinfoUpdate = {
        type: "get",
        url: "/bcinfoUpdate",
        dataType: "json",
        success: function (jsonObj) {
            $("#chainId").html(jsonObj.chainId);
            $("#chainName").html(jsonObj.chainName);
            $("#genesisTS").html(jsonObj.genesisTS);
            $("#peerCount").html(jsonObj.peerCount);
            $("#blockNumber").html(jsonObj.blockNumber);
            $("#txAllNumber").html(jsonObj.txAllNumber);

            $("#blockId").html(jsonObj.blockId);
            $("#blockJsonrpc").html(jsonObj.blockJsonrpc);
            $("#blockVersion").html(jsonObj.blockVersion);
            $("#headerTimestamp").html(jsonObj.headerTimestamp);
            $("#blockTxNumber").html(jsonObj.blockTxNumber);
            //alert(data["peerCount"]);
            //var jsonObj = eval("(" + data + ")");
        }
    }
</script>