<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE sqlMap
        PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"
        "http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap>
    <select id="test" resultClass="java.util.HashMap">
        select * from tx6 where txhash='0xff5869b44fb2a389e755304ec3b0015b70206ca4494ab5ff61c0931d39245218'
    </select>

    <insert id="upChain2" parameterClass="java.util.HashMap">
       INSERT INTO $tableName$ VALUES (#systemId#, #requestSn#, #txHash#, #dataInfo#, #secretKey#, #privateKey#, #publicKey#, #onChain#);
    </insert>

    <insert id="upChain" parameterClass="java.util.HashMap">
        INSERT INTO $tableName$
        VALUES (#systemId#, #requestSn#, #dataInfo#, #secretKey#, #privateKey#, #publicKey#)
    </insert>

    <insert id="insertPrivateKey" parameterClass="java.util.HashMap">
        INSERT INTO privateKey
        VALUES (#systemId#, #privateKey#)
    </insert>

    <update id="createTable" parameterClass="java.util.HashMap">
        CREATE TABLE $tableName$
        (
            id VARCHAR(255)
        )
    </update>

    <select id="queryByTxHash" parameterClass="java.util.HashMap" resultClass="java.util.HashMap">
        SELECT *
        FROM $tableName$
        WHERE txhash=#txHash#
    </select>

    <select id="queryByRequestSn" parameterClass="java.util.HashMap" resultClass="java.util.HashMap">
        SELECT *
        FROM $tableName$
        WHERE requestsn=#requestSn#
    </select>

    <select id="compensateQuery" parameterClass="java.util.HashMap" resultClass="java.util.HashMap">
        SELECT *
        FROM $tableName$
        WHERE requestsn=#searchRequestSn#
    </select>

    <select id="queryForKey" parameterClass="java.util.HashMap" resultClass="java.util.HashMap">
        SELECT *
        FROM userKey
        WHERE systemId=#systemId#
    </select>



</sqlMap>