<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE sqlMap
        PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"
        "http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap>
    <select id="test" resultClass="java.util.HashMap">
        select * from sc;
    </select>
    
    <insert id="upChain" parameterClass="java.util.HashMap">
       INSERT INTO $tableName$
        VALUES (#systemId#, #requestSn#, #dataInfo#, #secretKey#, #privateKey#, #publicKey#, #txHash#)
    </insert>

    <insert id="insertPrivateKey" parameterClass="java.util.HashMap">
        INSERT INTO privateKey
        VALUES (#systemId#, #privateKey#)
    </insert>

    <update id="createTable" parameterClass="java.util.HashMap">
        CREATE TABLE $tableName$
        (
            id VARCHAR(255)
        )
    </update>

    <select id="queryByTxHash" parameterClass="java.util.HashMap" resultClass="java.util.HashMap">
        SELECT *
        FROM $tableName$
        WHERE txHash = #txHash#
    </select>

    <select id="compensateQuery" parameterClass="java.util.HashMap" resultClass="java.util.HashMap">
        SELECT *
        FROM $tableName$
        WHERE requestSn = #searchRequestSn#
    </select>

    <select id="queryForKey" parameterClass="java.util.HashMap" resultClass="java.util.HashMap">
        SELECT *
        FROM userKey
        WHERE systemId = #systemId#
    </select>

</sqlMap>